* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.bar-wrapper {
    min-height: 6vh;
    width: 100%;
}

.bar {
    height: 100%;
    background-color: #282c34;
    display: flex;
    align-items: center;
    flex-direction: column;
    list-style: none;
    padding: 0 20px;
}

.item {
  display: flex;
  padding: 8px;
  color: white;
  font-size: 100%;
  align-items: center;
}

.item:hover {
    background-color: #52565f;
    transition: all 0.3s linear;
}

.item-link {
    text-decoration: none;
    color: rgb(223, 228, 236);
    font-size: 80%;
    padding: 0 8px;
}

.icon {
  display: inline-block;
  text-align: center;
  height: 16px;
  width: 16px;
}

@media (min-width: 768px) {
    .bar {
        flex-direction: row;
    }
}